body {
    display: flex;
    flex-direction: row;
}

#container {
    position: relative;
    width: 640px;
    height: 360px;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: auto;
    z-index: 1;
}

#canvas {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: crosshair;
    z-index: 2;
}





.colorButtons {
    display: block;
    margin: 20px 0;
}

div#sidebar {
    width: 150px;
    padding: 20px 20px;
}

.brush-size-btn {
    background-color: #333333;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 4px;

    &:hover {
        background-color: #393939;
    }
}

#eraser {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../images/eraser.svg);
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#clear {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../images/reset.svg);
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
}

.colorpicker {
    background: transparent;
    height: 40px;
}